.elementor-98 .elementor-element.elementor-element-040df73 .premium-gallery-item .pa-gallery-image {object-fit: fill;}
.elementor-98 .elementor-element.elementor-element-040df73 .premium-img-gallery-filter {justify-content: center;}
.elementor-98 .elementor-element.elementor-element-040df73 .premium-gallery-caption {text-align: center;}
:root {--page-title-display: none;}